.co-image {
  border-radius: .5em;
  max-height: 400px;
  max-width: 100%;
  margin: 0 auto;
  /* box-shadow: 0 30px 60px -30px rgb(0 0 0 / 30%), 0 30px 60px -30px rgb(0 0 0 / 25%); */
}

.co-divider {
  width: 65%;
  margin: 0 auto !important;
}

.co-ftr__text {
  font-size: 15px;
  font-weight: 500;
  line-height: 24px;
  text-transform: uppercase;
  color: #042d43;
}

.co-ftr__link {
  font-size: 14px;
  /* font-weight: 500; */
  text-decoration: none;
  color: #4f6c7b;
}

.co-label {
  font-size: 14px;
  color: #4f6c7b;
}

/* Page */
.co-page-heading {
  color: #03a9f4 !important;
}

/* Menu */
.co-hdr-menu__root {
  padding: 8px 16px;
  font-weight: 400 !important;
  display: flex;
  align-items: center;
  height: 72px;
}
.co-hdr-menu__root--mobile {
  padding: 8px 16px;
  font-weight: 400 !important;
  display: flex;
  align-items: center;
  cursor: pointer;
  min-width: 180px;
  /* height: 72px; */
}

.co-hdr-menu__root.hover,
.co-hdr-menu__root:hover,
.co-hdr-menu__root--mobile.hover,
.co-hdr-menu__root--mobile:hover  {
  background-color: rgba(0,0,0,.05);
}

.co-hdr-menu__child {
  padding: 12px 24px;
  font-weight: 400 !important;
}

.co-hdr-menu__child:hover {
  color: #1976d2;
  background-color: rgba(0,0,0,.05);
}

/* MUI Overrides */
/* .MuiLink-root {} */