.co-image {
  border-radius: .5em;
  max-height: 400px;
  max-width: 100%;
  margin: 0 auto;
}

.co-divider {
  width: 65%;
  margin: 0 auto !important;
}

.co-ftr__text {
  font-size: 15px;
  font-weight: 500;
  line-height: 24px;
  text-transform: uppercase;
  color: #042d43;
}

.co-ftr__link {
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  color: #4f6c7b;
}

/* Menu */
.co-hdr-menu__root {
  padding: 8px 16px;
  font-weight: 400 !important;
  display: flex;
  align-items: center;
  height: 72px;
}

.co-hdr-menu__root.hover,
.co-hdr-menu__root:hover {
  background-color: rgba(0,0,0,.05);
}

.co-hdr-menu__child {
  padding: 12px 24px;
}

.co-hdr-menu__child:hover {
  color: #1976d2;
  background-color: rgba(0,0,0,.05);
}